/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
/*
.svg {
}
*/
.game {
  padding: 10px;
  border: 10px solid black;
  background-image: url('background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
};

.scoreboard {
  border: 5px solid orange;
}

/*.enemy {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform-origin: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform-origin: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform-origin: rotate(360deg); transform:rotate(360deg); } }*/